@import url("colors.css");

@keyframes fadeInScale {
    from { opacity: 0; transform: scale(0.85); }
    to { opacity: 1; transform: scale(1); }
}

#outer-box {
    border: 1px solid @foreground;
    border-radius: 10px;
}

#window {
    animation: fadeInScale 0.3s ease-in-out;

    border: 1px solid @foreground;
    border-radius: 10px;

    font-family: "FiraCode Nerd Font Mono", monospace;
    font-size: 18px;

    background-color: alpha(@background, 0.9);
}

#input {
    all: unset;
    border-radius: 10px 10px 0px 0px;
    border: 0px;
    outline: none !important;

    padding: 10px;
    margin: 0px;

    font-size: 28px;

    color: @cursor;
    caret-color: @cursor;
    background-color: alpha(@color0, 0.9);
}

#input:focus {
    box-shadow: none;
}

#input > image.left {
    -gtk-icon-transform: scaleX(0);
}

#input > image.right {
    -gtk-icon-transform: scaleX(0);
}

#inner-box {
    padding: 0px;
    margin: 0px;
    color: @cursor;
}

#entry {
    padding: 0px;
    margin: 0px;
    background-color: alpha(@background, 0.9);
}

#entry:image {
    height: 2px;
    width: 2px;
}

#selected {
    background-color: @color1;
}
