* {
    bg-dim:     #f6f4f4;
    bg:         #f0edec;
    bg-raised:  #cfc1ba;
    surface:    #b3aba8;
    surface-hi: #999798;
    overlay:    #808487;

    fg-hi:      #222a2f;
    fg:         #2c363c;
    fg-dim:     #3e4a52;
    fg-faint:   #4f5e68;

    red:        #a8334c;
    orange:     #944927;
    yellow:     #944927;
    green:      #4f6c31;
    cyan:       #3b8992;
    blue:       #286486;
    magenta:    #88507d;
    gray:       #cfc1ba;

    red-br:     #94253e;
    orange-br:  #803d1c;
    yellow-br:  #803d1c;
    green-br:   #3f5a22;
    cyan-br:    #2b747c;
    blue-br:    #1d5573;
    magenta-br: #7b3b70;
    gray-br:    #4f5e68;
}
