@import "~/.cache/wal/colors-rofi"

configuration {
    modes: "window,drun,run,ssh";
    font: " FiraCode Nerd Font Mono 18";
    show-icons: true;
    terminal: "ghostty";
    icon-theme: "Tela-circle-black-dark";
    sort: true;
    sorting-method: "fzf";
    scroll-method: 1;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
